<div *ngIf="settingUp">
    Getting Volitility ready!
</div>
<div *ngIf="!settingUp">
  <span>Currency: </span><p-dropdown [options]="tokens"></p-dropdown>
  <span>Market: </span><p-dropdown [options]="markets"></p-dropdown>
  <!-- <kline-detail [display]="showDetail" [klines]="klines" [pair]="selectedPair"></kline-detail>   -->
  <p-table [value]="tableRows" selectionMode="single" (onRowSelect)="onRowSelect($event)">
    <ng-template pTemplate="header">
      <tr>
        <th>Pair</th>
        <th>Open</th>
        <th>Close</th>
        <th>24hr Diff</th>
        <th>High</th>
        <th>Low</th>
        <th>H/L Diff</th>
        <th>Volume</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ticker>
      <tr [pSelectableRow]="ticker">
        <td>{{ticker.symbol}}</td>
        <td>{{ticker.openPrice | number}}</td>
        <td>{{ticker.lastPrice | number}}</td>
        <td>{{ticker.priceChangePercent | number}}%</td>
        <td>{{ticker.highPrice | number}}</td>
        <td>{{ticker.lowPrice | number}}</td>
        <td>{{(1 - (ticker.lowPrice/ticker.highPrice)) | number}}%</td>
        <td>{{ticker.volume | number}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>