<div *ngIf="settingUp">
    Getting Volitility ready!
</div>
<div *ngIf="!settingUp">
  <span>Exchange: </span><p-dropdown [options]="exchanges"></p-dropdown>
  <span>Currency: </span><p-dropdown [options]="tokens"></p-dropdown>
  <span>Market: </span><p-dropdown [options]="markets"></p-dropdown>
  <!-- <kline-detail [display]="showDetail" [klines]="klines" [pair]="selectedPair"></kline-detail>   -->
  <p-table [value]="tableRows" selectionMode="single" (onRowSelect)="onRowSelect($event)">
    <ng-template pTemplate="header">
      <tr>
        <th>Pair</th>
        <th>Open</th>
        <th>Close</th>
        <th>24hr Diff</th>
        <th>High</th>
        <th>Low</th>
        <th>H/L Diff</th>
        <th>Volume</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ticker>
      <tr [pSelectableRow]="ticker">
        <td>{{ticker.pair}}</td>
        <td>{{ticker.open | number}}</td>
        <td>{{ticker.close | number}}</td>
        <td>{{ticker.percent24h | number}}%</td>
        <td>{{ticker.high | number}}</td>
        <td>{{ticker.low | number}}</td>
        <td>{{(1 - (ticker.low/ticker.high)) | number}}%</td>
        <td>{{ticker.volume | number}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>